<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do List</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Crea una nueva tarea</h1>
      <div v-if="errorMessage">{{errorMessage}}</div>
      <label for="">Tareas</label>
      <input
        type="text"
        id="tarea"
        v-model="newTask"
        placeholder="Ingresa una nueva tarea"
      />
      <button v-on:click="addTask">Agregar tarea</button>
      <h3>Tareas por hacer</h3>
      <ol>
        <li v-for="(task, index) in tasks">
          {{task}}<button v-on:click="removeTask(index)">Eliminar tarea</button>
        </li>
      </ol>
    </div>

    <script src="app.js"></script>
  </body>
</html>
